<div class="container notification-section">
    <div class="row">
      <!-- Card 1 -->
      <div class="col-sm">
        <div class="card">
          <div class="card-body p-0">
            <div class="card-header">
              <div class="circle-icon">
                <img src="/assets/images/icon/notification.png" alt="Notification">
              </div>
              <div class="d-grid">
              <h5 class="card-title p-0">20 Records</h5>
              <p class="card-text">Product Design</p>
            </div>
              <div class="kebab-menu-icon">
                <i class="fas fa-ellipsis-v"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Card 2 -->
      <div class="col-sm">
        <div class="card">
          <div class="card-body p-0">
            <div class="card-header">
              <div class="circle-icon">
                <img src="/assets/images/icon/notification.png" alt="Notification">
              </div>
              <div class="d-grid">
              <h5 class="card-title p-0">20 Records</h5>
              <p class="card-text">Product Design</p>
            </div>
              <div class="kebab-menu-icon">
                <i class="fas fa-ellipsis-v"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Card 3 -->
      <div class="col-sm">
        <div class="card">
          <div class="card-body p-0">
            <div class="card-header">
              <div class="circle-icon">
                <img src="/assets/images/icon/notification.png" alt="Notification">
              </div>
              <div class="d-grid">
              <h5 class="card-title p-0">20 Records</h5>
              <p class="card-text">Product Design</p>
            </div>
              <div class="kebab-menu-icon">
                <i class="fas fa-ellipsis-v"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
  