<header class="header">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand position-relative d-flex" href="#">
            <img src="/assets/images/logo.png" alt="Baazar Live Logo" class="logo">
            <div class="logo-text">
            <h5 class="bazar">Baazar</h5>
            <h5 class="live">Live</h5>
        </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto Imprima">
                <li class="nav-item">
                    <a class="nav-link" href="#">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/upcoming-session">Class</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">PRIMIUM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><img src="/assets/images/icon/shop.png" alt="Shop now" class="cart-icon"></a>
                </li>
                <li class="nav-item">
                    <a href="/login">
                    <button class="btn btn-custom">Sign in as Student</button></a>
                </li>
                <li>
                <a class="nav-item">
                    <a href="/login"></a>
                    <button class="btn btn-custom">Sign in as Teacher</button></a>
                </li>
            </ul>
        </div>
    </nav>
</header>