<app-inner-header></app-inner-header>
<app-search></app-search>
<app-online-course></app-online-course>
<app-notification></app-notification>
    <div class="container subscription-container">
        <div class="custom">
        <div class="row  border-bottom mb-4">
            <div class="col-12">
                <h4 class="about-s">About this subscription</h4>
                <p class="expert">Expert Analysis, Timely enter exit</p>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <h5 class="t-name">Meet CA ILLA BHATI SHARMA</h5>
            </div>
            <div class="col-lg-8">
                    <div class="row mb-3">
                    <div class="col-lg-6 col-md-6 col-sm-6 d-flex align-items-center justify-content-center">
                        <img src="/assets/images/teacher/T1.png" alt="Profile Image" class="me-3 profile-img">
                        
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <p class="description mt-3">
                            Meet CA Kamlesh B Sandanshiv CA Kamlesh B Sandanshiv is SEBI registered Research Analyst ‘CA Kamlesh B Sandanshiv. CA Kamlesh B Sandanshiv is a Trader, Investor and a Trading Mentor.Meet CA Kamlesh B Sandanshiv CA Kamlesh B Sandanshiv is SEBI registered Research Analyst ‘CA Kamlesh B Sandanshiv. CA Kamlesh B Sandanshiv is a Trader, Investor and a Trading Mentor.</p>
                    </div>
                </div>

            </div>
            
            <div class="col-lg-4 ">
                <div class="card subscription-plans bg-white">
                    <div class="card-body">
                        <h5 class="card-title text-center">Subscription plans</h5>
                        <div class="mb-3">
                            <p class=" label">1 Month Access</p>
                            <p class="text-muted  placeholder-text del">Rs.3699</p>
                        </div>
                        <div class="mb-3">
                            <p class=" label">3 Month Access</p>
                            <p class="text-muted placeholder-text"><span class="real-price">Rs.4699 </span> <del>Rs.3699 </del> <span class="discount">28% off</span></p>
                        </div>
                        <div>
                            <p class=" label">1 Years Access</p>
                            <p class="text-muted  placeholder-text"><span class="real-price">Rs.4699 </span><del>Rs.3699 </del> <span class="discount">28% off</span></p>
                        </div>
                        <div class="notic">
                            select 1 years plan and avail 30% off on tutor's fees
                        </div>
                        <button class="btn btn-success btn-subscribe mt-3">Subscribe now</button>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-lg-9 col-md-12 col-12 clo-ms-12 mt-3">
                <p class="bottom-description">
                    Disclaimer : Investing in Stocks/ETFs (Exchange Traded Funds) are subject to market risks. Read all the related documents before investing. Investors should consider all risk factors and consult their financial advisor before investing

                </p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>