<app-inner-header></app-inner-header>
<app-search></app-search>
<app-online-course></app-online-course>
<div class="container subscription-container">
        <div class="custom">
        <div class="row">
            <div class="col-lg-8">
                <div class="row mb-3">
                    <div class="col-lg-6 col-md-6 col-sm-6 align-items-center justify-content-center">
                        <div class="display-block">
                            <img src="{{mediaURL+tutor.avator}}" alt="Profile Image" class="me-3 profile-img">
                        </div>
                        <div class="display-block mt-5">
                            <h5 class="t-name">Meet {{tutor.name}}</h5>
                            <h6 class="t-name my-2">SEBI : <strong>{{tutor.sebi_id}}</strong></h6>
                            <h6 class="t-name my-2">Expert <strong>{{tutor.expertise}}</strong></h6>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="description mt-3"[innerHtml]="tutor.about_me"></div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 ">
                <div class="card subscription-plans bg-white mt-3"  *ngFor="let session of sessions;">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{session.day}}, {{session.start_time}} to {{session.end_time}}</h5>
                        <div class="mb-3">
                            <p class="text-muted  placeholder-text del">Rs.{{ session.price }}</p>
                        </div>
                        <div class="notic">
                            select 2 session and avail 30% off on tutor's fees
                        </div>
                        <button href="#" class="btn btn-success btn-subscribe mt-3" (click)="cart.addToCart($event,session)">{{cart.cartBtnLabel}}</button>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-lg-9 col-md-12 col-12 clo-ms-12 mt-3">
                <p class="bottom-description">
                    Disclaimer : Investing in Stocks/ETFs (Exchange Traded Funds) are subject to market risks. Read all the related documents before investing. Investors should consider all risk factors and consult their financial advisor before investing
                </p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>