<div class="container-fluid signup-container">
    <div class="row logo-row mt-3 margin">
      <div class="col-md-3">
          <a class="position-relative d-flex" href="/">
              <img src="/assets/images/logo/logo-2.png" alt="Baazar Live" class="logo">
              <!-- <div class="logo-text">
              <h5 class="bazar">Baazar</h5>
              <h5 class="live">Live</h5>
              </div> -->
          </a>
      </div>
      <div class="row justify-content-center custom-row">
        <!-- Left Side -->
        <div class="col-md-6 p-0">
          <img src="/assets/images/Rectangle 9.png" class="side-image" alt="Financial Charts">
        </div>
        <!-- Right Side -->
        <div class="col-md-6 form-signup">
          <div class="p-70">
            <h3 class="wlcm font-poppins">Create account</h3>
            <p class="font-label font-poppins">For Teachers or Students.</p>
            <div class="col-md-12 d-flex align-items-center justify-content-center">
              <div class="signup-form w-100">
                <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                  <div class="row">
                    <mat-form-field class="form-group col-md-12 col-lg-12 col-xl-6 mt-3">
                      <mat-label>First name</mat-label>
                      <input matInput formControlName="firstname" type="text" id="firstname" placeholder="Enter Your First Name">
                      <div *ngIf="signupForm.get('firstname').invalid && signupForm.get('firstname').touched">
                          <div  class="error" *ngIf="signupForm.get('firstname').errors?.required">firstname is required.</div>
                      </div>
                    </mat-form-field>
                    <mat-form-field class="form-group col-md-12 col-lg-12 col-xl-6 mt-3">
                      <mat-label>Last name</mat-label>
                      <input matInput formControlName="lastname" type="text" id="lastname" placeholder="Enter Your Last Name">
                      <div *ngIf="signupForm.get('lastname').invalid && signupForm.get('lastname').touched">
                          <div  class="error" *ngIf="signupForm.get('lastname').errors?.required">Lastname is required.</div>
                      </div>
                    </mat-form-field>
                  </div>
                  <div class="row">
                    <mat-form-field class="form-group col-md-12 col-lg-12 col-xl-6 mt-3">
                      <mat-label>Email Address</mat-label>
                      <input matInput formControlName="email" type="text" id="email" placeholder="Enter Your Email Address">
                      <div *ngIf="signupForm.get('email').invalid && signupForm.get('email').touched">
                          <div  class="error" *ngIf="signupForm.get('email').errors?.required">Email is required.</div>
                      </div>
                    </mat-form-field>
                    <mat-form-field class="form-group col-md-12 col-lg-12 col-xl-6 mt-3">
                      <mat-label>Mobile Number</mat-label>
                      <input matInput formControlName="mobile" type="number" id="mobile" placeholder="Enter Your Mobile Number">
                      <div *ngIf="signupForm.get('mobile').invalid && signupForm.get('mobile').touched">
                          <div  class="error" *ngIf="signupForm.get('mobile').errors?.required">Mobile is required.</div>
                      </div>
                    </mat-form-field>
                  </div>
                  <div class="row"> 
                    <div class="font-label font-poppins form-group col-md-12 col-lg-12 col-xl-6 mt-3">
                      <label for="password" class="font-label font-poppins mb-2">Password</label>
                      <input formControlName="password" type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <div class="form-group col-md-12 col-lg-12 mt-3 col-xl-6">
                      <label for="confirmPassword" class="font-label font-poppins  mb-2">Confirm password</label>
                      <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm password">
                    </div>
                  </div>
                  <div class="row"> 
                    <div class="form-group col-md-6 col-lg-6 mt-3 col-xl-6 col-sm-6 d-flex">
                      
                    </div>
                    <div class="form-group col-md-6 col-lg-6 mt-3 text-end col-sm-6 col-xl-6">
                      <a href="#" class="forgot-password font-poppins">Forgot password?</a>
                    </div>
                  </div>
                  <div class="form-group col-md-12 col-lg-12 mt-3 col-xl-12 d-flex">
                    <input type="checkbox" class="form-check-input" id="terms">
                    <label class="form-check-label ms-2 font-poppins" for="terms">I agree to all the <a href="#">Terms</a> and <a href="#">Privacy policy</a></label>
                  </div>
                  <div class="row"> 
                    <div class="col-12 mt-3">
                      <button type="submit" class="btn btn-primary  w-100 btn-block ">Create account</button>
                    </div>
                  </div>
                  <div class="row"> 
                  <p class="signup-login">Don’t have an account?<a href="/login"> Log In</a></p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  