<div class="container-fluid signup-container">
    <div class="row logo-row mt-3 margin">
      <div class="col-md-3">
          <a class="position-relative d-flex" href="/">
              <img src="/assets/images/logo/logo-2.png" alt="Baazar Live" class="logo">
              <!-- <div class="logo-text">
              <h5 class="bazar">Baazar</h5>
              <h5 class="live">Live</h5>
              </div> -->
          </a>
      </div>
      <div class="row justify-content-center custom-row">
        <!-- Left Side -->
        <div class="col-md-6 p-0">
          <img src="/assets/images/Rectangle 9.png" class="side-image" alt="Financial Charts">
        </div>
        <!-- Right Side -->
        <div class="col-md-6 form-signup">
          <div class="p-70">
            <h3 class="wlcm font-poppins">Create account</h3>
            <p class="font-label font-poppins">For Teachers or Students.</p>
            <div class="col-md-12 d-flex align-items-center justify-content-center">
              <div class="signup-form w-100">
                <form>
                  <div class="row">
                  <div class="form-group col-md-12 col-lg-12 mt-3 col-xl-6">
                    <label for="firstName" class="font-label font-poppins mb-2">First name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="First name">
                  </div>
                  <div class="form-group col-md-12 col-lg-12 mt-3 col-xl-6">
                    <label for="lastName" class="font-label font-poppins mb-2">Last name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Last name">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-12 col-lg-12 mt-3 col-xl-6">
                    <label for="email" class="font-label font-poppins mb-2">Email or phone number</label>
                    <input type="email" class="form-control" id="email" placeholder="Email or phone number">
                  </div>
                  <div class="form-group col-md-12 col-lg-12 col-xl-6 mt-3">
                    <label for="dob" class="font-label font-poppins mb-2">Date of birth</label>
                    <input type="text" class="form-control" id="dob" placeholder="Date of birth">
                  </div>
                </div>
                  <div class="row"> 
                  <div class="font-label font-poppins form-group col-md-12 col-lg-12 col-xl-6 mt-3">
                    <label for="password" class="font-label font-poppins mb-2">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password">
                  </div>
                  <div class="form-group col-md-12 col-lg-12 mt-3 col-xl-6">
                    <label for="confirmPassword" class="font-label font-poppins  mb-2">Confirm password</label>
                    <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm password">
                  </div>
                </div>
                <div class="row"> 
                  <div class="form-group col-md-6 col-lg-6 mt-3 col-xl-6 col-sm-6 d-flex">
                    <input type="checkbox" class="form-check-input" id="rememberMe">
                    <label class="form-check-label ms-2 font-poppins" for="rememberMe">Remember me</label>
                  </div>
                  <div class="form-group col-md-6 col-lg-6 mt-3 text-end col-sm-6 col-xl-6">
                    <a href="#" class="forgot-password font-poppins">Forgot password?</a>
                  </div>
                  </div>
                  <div class="form-group col-md-12 col-lg-12 mt-3 col-xl-12 d-flex">
                    <input type="checkbox" class="form-check-input" id="terms">
                    <label class="form-check-label ms-2 font-poppins" for="terms">I agree to all the <a href="#">Terms</a> and <a href="#">Privacy policy</a></label>
                  </div>
                  <div class="row"> 
                    <div class="col-md-6 col-lg-12 col-xl-6 mt-3">
                  <button type="submit" class="btn btn-primary  w-100 btn-block ">Create account</button>
                </div>
                <div class="col-md-5 col-lg-12 mt-3 col-xl-6">
                  <button type="button" class="google-btn btn btn-block box-shadow text-white  w-100">
                      <img src="https://img.icons8.com/color/16/000000/google-logo.png" alt="Google">
                      Sign with Google
                  </button>
                </div>
                  </div>
                  <div class="row"> 
                  <p class="signup-login">Don’t have an account?<a href="/login"> Log In</a></p>
                  </div>
                </form>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  