<header class="header"> 
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand position-relative d-flex" routerLink='/'>
            <img src="/assets/images/logo/logo-2.png" alt="Baazar Live" class="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto Imprima">
                <li class="nav-item">
                    <a class="nav-link" routerLink='/'>HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/sessions'>Class</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/trainers'>Trainers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/cart' [matBadge]="cartCount" matBadgeSize="small"  >
                        <img src="/assets/images/icon/shop.png" alt="Shop now" class="cart-icon">
                    </a>
                </li>
                <li class="nav-item" *ngIf="token === null">
                    <a routerLink='/login'>
                        <button class="btn btn-custom">Sign in as Student</button>
                    </a>
                </li>
                <li class="nav-item" *ngIf="token !== null">
                    <a routerLink='/dashboard'>
                        <button class="btn btn-custom">Dashboard | {{user.name}}</button>
                    </a>
                </li>
                <li class="nav-item" *ngIf="token !== null">
                    <a href="javascript:void(0)" (click)="logout()">
                        <button class="btn btn-custom">Logout</button>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>