<div class="container mt-5">
    <div class="row">
        <h2 class="text-custom section-title font-Homenaje col-sm-6 col-8">Our Tutors</h2>
        <a href="#" class="col-sm-6 col-4 see-more text-decoration-none">See more<i class="fa-solid fa-chevron-right"></i></a>
    </div>

    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="row">
                <div  *ngFor="let tutor of tutors;" class="swiper-slide col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
                    <a class="card profile-card" routerLink='/trainer-bio'>
                        <div class="profile-img-placeholder position-relative">
                            <img src="{{mediaURL+tutor.avator}}" alt="{{ tutor.name }}" class="card-img-top">
                            <div class="ribbon">SEBI</div>
                        </div>
                        <div class="card-body text-center position-relative">
                            <div class="card-title up-se-title">
                                <div class="row align-items-center">
                                    <h5 class="col-md-6"> {{ tutor.name }}</h5>
                                    <p class="raleway col-md-6 followers"> 
                                        10k+<span> Followers</span>
                                    </p>
                                </div>
                                <p class="year-exprience">5+ years of experience</p>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Repeat the above swiper-slide for each session -->
            </div>
        </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>