<footer class="bg-custom-color text-white pt-5 pb-4 position-relative">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2 col-sm-6 col-12">
                <a class="navbar-brand position-relative d-flex" href="#">
                    <img src="/assets/images/logo/logo-2.png" alt="Baazar Live Logo" class="logo">
                </a>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-12 menu-bar">
                <h6 class="text-uppercase mb-4 f-21 h-font">Quick Links</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white p-font" style="text-decoration: none;">About Us</a></li>
                    <li><a href="#" class="text-white p-font" style="text-decoration: none;">Service</a></li>
                    <li><a href="#" class="text-white p-font" style="text-decoration: none;">Pricing</a></li>
                    <li><a href="#" class="text-white p-font" style="text-decoration: none;">Blog</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                <h6 class="text-uppercase mb-4 f-21 h-font">Contact Us</h6>
                <p class="p-font"><i class="fas fa-envelope"></i><a href="mailto:{{ allSettings.email }}" class="text-white" style="text-decoration: none;"> {{ allSettings.email }}</a></p>
                <p class="p-font"><i class="fas fa-location-dot"></i> {{ allSettings.address }}</p>
                <p class="p-font"><i class="fas fa-phone"></i> <a href="tel:+91{{ allSettings.mobile }}" class="text-white" style="text-decoration: none;"> {{ allSettings.mobile }}</a></p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h6 class="text-uppercase mb-4 f-21 h-font">Newsletter</h6>
                <form class="d-flex">
                    <div class="form-group">
                        <input type="email" class="form-control f-e-i" placeholder="Enter your email">
                    </div>
                    <button type="submit" class="btn sub-btn">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</footer>