<app-header></app-header>
<div class="container-fluid p-0">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="overlay-container">
              <img src="/assets/images/login-bg.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-caption banner-section">
            <p class="bazar im-fell-french-canon">Baazar</p>
            <h5>Unlimited <span class="banner-span-title">Share market classes</span>,</h5>
            <h5>Share, Market classes,&More</h5>
          <div class="row ps-3">
            <p class="col-md-1 col-2 bg-white text-class p-0">Class</p>
            <p class="col-md-1 col-1"><strong>HD</strong></p>
            <p class="col-md-3 col-4 stock">Stcok, Analysis </p>
            <p class="col-md-2 col-3"><i class="fas fa-calendar-alt"></i><span class="ps-2">2023</span></p>
          </div>
          <div class="row ps-3">
              <button class="btn bt btn-secondary banner-btn col-md-3 col-5"><img src="/assets/images/icon/Vector.png" alt="Play Now" class="pe-2">PLAY NOW</button>
              </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="overlay-container">
              <img src="/assets/images/login-bg.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-caption banner-section">
            <p class="bazar im-fell-french-canon">Baazar</p>
            <h5>Unlimited <span class="banner-span-title">Share market classes</span>,</h5>
            <h5>Share, Market classes,&More</h5>
          <div class="row ps-3">
            <p class="col-md-1 col-2 bg-white text-class p-0">Class</p>
            <p class="col-md-1 col-1"><strong>HD</strong></p>
            <p class="col-md-3 col-4 stock">Stcok, Analysis </p>
            <p class="col-md-2 col-3"><i class="fas fa-calendar-alt"></i><span class="ps-2">2023</span></p>
          </div>
          <div class="row ps-3">
              <button class="btn bt btn-secondary banner-btn col-md-3 col-5"><img src="/assets/images/icon/Vector.png" alt="Play Now" class="pe-2">PLAY NOW</button>
              </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="overlay-container">
              <img src="/assets/images/login-bg.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-caption banner-section">
            <p class="bazar im-fell-french-canon">Baazar</p>
            <h5>Unlimited <span class="banner-span-title">Share market classes</span>,</h5>
            <h5>Share, Market classes,&More</h5>
          <div class="row ps-3">
              <p class="col-md-1 col-2 bg-white text-class p-0">Class</p>
              <p class="col-md-1 col-1"><strong>HD</strong></p>
              <p class="col-md-3 col-4 stock">Stcok, Analysis </p>
              <p class="col-md-2 col-3"><i class="fas fa-calendar-alt"></i><span class="ps-2">2023</span></p>
          </div>
          <div class="row ps-3">
              <button class="btn bt btn-secondary banner-btn col-md-3 col-5"><img src="/assets/images/icon/Vector.png" alt="Play Now" class="pe-2">PLAY NOW</button>
              </div>
          </div>
        </div>
      </div>
      <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button> -->
  </div>
</div>
<app-live-sessions></app-live-sessions>
<app-coming-sessions></app-coming-sessions>
<app-trainer></app-trainer>
<app-featured-video></app-featured-video>
<app-before-footer></app-before-footer>
<app-footer></app-footer>