<app-inner-header></app-inner-header>
<app-search></app-search>
<app-online-course></app-online-course>
<app-notification></app-notification>
<div class="container mt-5">
    <div class="row" *ngIf="cartItem.length > 0">
        <div class="col-lg-8 cart ">
            <h4>Shopping Cart</h4>
            <div class="d-flex flex-column">
                <div class="d-flex bg-color p-2">
                    <div class="w-50"><strong>PRODUCTS</strong></div>
                    <div class="w-25 text-center"><strong>Teacher Fee</strong></div>
                    <div class="w-25 text-center"><strong>QUANTITY</strong></div>
                    <div class="w-25 text-center"><strong>Platform Fee</strong></div>
                </div>  
                <div *ngFor="let item of cartItem;" class="d-flex align-items-center border-bottom p-2 cart-item product-card">
                    <div class="w-50 d-flex align-items-center">
                        <a (click)="removeFromCart($event,item)" ><i class="fa-regular fa-circle-xmark"></i></a>
                        <img src="{{mediaURL+item.avator}}" alt="Product Image" class="me-2 product-img">
                        <span>{{item.expertise}} Live Session</span>
                    </div>
                    
                    <div class="w-25 price">
                        <del>Rs.{{ item.teacher_fee+100 }}</del> Rs.{{ item.teacher_fee }}
                    </div>
                    <div class="w-25 quantity">
                        <div class="input-group">
                            <input type="text" class="form-control text-center" value="01" readonly>
                        </div>
                    </div>
                    <div class="w-25 sub-total">Rs.{{ item.commission_amount }}</div>
                    
                </div>
            </div>
            <div class="row mb-3 mt-3">
                <div class="col-md-6 mb-2 mb-md-0">
                    <a class="btn btn-outline-primary btn-return" routerLink='/'><i class="fa-solid fa-arrow-left"></i> RETURN TO HOME</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Card Totals</h5>
                <div class="flxx_wrap">
                    <div class="price_nm">
                    <p>Session Price</p>
                    <p>Platform Fee</p>
                    <p>Discount</p>
                    <p>GST 18%</p>
                    </div>
                <div class="price_1">
                    <span> ₹{{ sessionPrice }}/-</span>
                    <span>₹{{ plaformFee }}/-</span>
                    <span>₹ 00 /-</span>
                    <span>₹{{ taxAmount }}/-</span>
                    </div>
                </div>
                <div class="total_wrap">
                    <h5>Total</h5>
                    <span>₹{{ payableAmount }}/- </span>
                </div>
                    <button class="btn btn-success btn-checkout" routerLink='/checkout'>PROCEED TO CHECKOUT<i class="fa-solid fa-arrow-right"></i></button>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Coupon Code</h5>
                    <div class="input-groups">
                        <input type="text" class="form-control fs-18" placeholder="Apply Coupon Code">
                        <button class="btn btn-primary apply-now">APPLY COUPON</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="cartItem.length <= 0">
        <div class="col-12 my-3">
            <div class="text-center">
                <a class="btn btn-outline-primary btn-return" routerLink='/sessions'> CART IS EMPTY</a>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
    