<app-inner-header></app-inner-header>
<app-search></app-search>
<app-online-course></app-online-course>
<app-notification></app-notification>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8 cart ">
                <h4>Shopping Cart</h4>
                <div class="d-flex flex-column">
                    <div class="d-flex bg-color p-2">
                        <div class="w-50"><strong>PRODUCTS</strong></div>
                        <div class="w-25 text-center"><strong>PRICE</strong></div>
                        <div class="w-25 text-center"><strong>QUANTITY</strong></div>
                        <div class="w-25 text-center"><strong>SUB-TOTAL</strong></div>
                    </div>
                    <div class="d-flex align-items-center border-bottom p-2 cart-item product-card">
                        <div class="w-50 d-flex align-items-center">
                            <i class="fa-regular fa-circle-xmark"></i>
                            <img src="/assets/images/teacher/T1.png" alt="Product Image" class="me-2 product-img">
                            <span>Meet CA ILLA BHATI SHARMA</span>
                        </div>
                       
                        <div class="w-25 price">
                            <del>Rs.99</del> Rs.70
                        </div>
                        <div class="w-25 quantity">
                            <div class="input-group">
                                <button class="btn" type="button">−</button>
                                <input type="text" class="form-control text-center" value="01">
                                <button class="btn" type="button">+</button>
                            </div>
                        </div>
                        <div class="w-25 sub-total">Rs.70</div>
                        
                    </div>
                    <div class="d-flex align-items-center border-bottom p-2 cart-item product-card">
                        <div class="w-50 d-flex align-items-center">
                            <i class="fa-regular fa-circle-xmark ico"></i>
                            <img src="/assets/images/teacher/T1.png" alt="Product Image" class="me-2 product-img">
                            <span>Meet CA ILLA BHATI SHARMA</span>
                        </div>
                        <div class="w-25 price">Rs.250</div>
                        <div class="w-25 quantity">
                            <div class="input-group">
                                <button class="btn" type="button">−</button>
                                <input type="text" class="form-control text-center" value="03">
                                <button class="btn" type="button">+</button>
                            </div>
                        </div>
                        <div class="w-25 sub-total">Rs.750</div>
                    </div>
                </div>
                <div class="row mb-3 mt-3">
                    <div class="col-md-6 mb-2 mb-md-0">
                        <button class="btn btn-outline-primary btn-return"><i class="fa-solid fa-arrow-left"></i> RETURN TO HOME</button>
                    </div>
                    <div class="col-md-6 right_al">
                        <button class="btn btn-outline-primary btn-update">UPDATE CART</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Card Totals</h5>
                    <div class="flxx_wrap">
                     <div class="price_nm">
                        <p>Sub-total</p>
                        <p>Extra</p>
                        <p>Discount</p>
                        <p>Tax</p>
                        </div>
                    <div class="price_1">
                        <span>$320</span>
                        <span>Free</span>
                        <span>$24</span>
                        <span>$61.99</span>
                        </div>
                    </div>
                    <div class="total_wrap">
                        <h5>Total</h5>
                        <span>$357.99 USD</span>
                    </div>
                        <button class="btn btn-success btn-checkout">PROCEED TO CHECKOUT<i class="fa-solid fa-arrow-right"></i></button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Coupon Code</h5>
                        <div class="input-groups">
                            <input type="text" class="form-control fs-18" placeholder="Apply Coupon Code">
                            <button class="btn btn-primary apply-now">APPLY COUPON</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<app-footer></app-footer>
    