<app-inner-header></app-inner-header>
<app-search></app-search>
<app-online-course></app-online-course>
<app-notification></app-notification>
<div class=" teacher-our-tutors">
    <div class="container profile-card p-3 mb-5">
        <div class="row my-3 trainer-grid" *ngFor="let tutor of tutors;">
            <div class="col-lg-3 col-md-4 col-sm-12 d-flex justify-content-center">
                <a (click)="gotoTrainerBio(tutor.id)">
                    <img src="{{mediaURL+tutor.avator}}" class="card-img profile-img img-fluid" alt="Profile Image">
                </a>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-12">
                <div class="card-body pb-0">
                    <div class="row">
                        <div class="col-12 mt-3">
                            <a (click)="gotoTrainerBio(tutor.id)">
                                <h5 class="card-title name">Meet our expert {{tutor.name }}</h5>
                            </a>
                        </div>
                    </div>
                    <div class="card-header bg-white item mt-4 p-4">
                        <div class="card-text">
                            <div *ngIf="tutor.sessions.length > 0" >
                                <div class="row mb-3" *ngFor="let session of tutor.sessions;">

                                    <div class=" col-lg-6 col-sm-12 col-md-12">
                                        <p class="day-time m-0 p-0"><strong>{{session.course}}</strong></p>
                                        <p class="day-time m-0 p-0">{{session.day}}</p>
                                        <p class="day-time">{{session.start_time}} to {{session.end_time}}</p>
                                        <p class="price">BUY at <del style="color:red">Rs. {{session.price + 1000}}/- </del> Rs. {{session.price}}/- + GST</p>
                                    </div>
                                    <div class="col-lg-6 col-sm-12 d-flex justify-content-end">
                                        <div class=" col-lg-6  col-sm-12 d-flex justify-content-end">
                                            <a href="javascript:void(0)" class="btn btn-success btn-buy" (click)="cart.addToCart($event,session)">{{cart.cartBtnLabel}}</a>    
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="tutor.sessions.length <= 0" >
                                <div class="row mb-3" >
                                        <h3> No Session Avilable for now</h3>
                                </div>
                            </div>        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>       
</div>
<app-footer></app-footer>