<app-inner-header></app-inner-header>
<app-search></app-search>
<app-online-course></app-online-course>
<app-notification></app-notification>
<div class=" teacher-our-tutors">
    <div class="container profile-card p-3 mb-5">
        <div class="row g-0">
            <div class="col-lg-3 col-md-4 col-sm-12 d-flex justify-content-center">
                <a routerLink='/trainer-bio'>
                    <img src="/assets/images/teacher/T1.png" class="card-img profile-img img-fluid" alt="Profile Image">
                </a>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-12">
                <div class="card-body pb-0">
                    <div class="row">
                        <div class="col-12 mt-3">
                            <a routerLink='/trainer-bio'>
                                <h5 class="card-title name">Meet CA ILLA BHATI SHARMA</h5>
                            </a>
                        </div>
                    </div>
                    <div class="card-header bg-white item mt-4 p-4">
                        <div class="card-text">
                            <div class="row mb-3">
                                <div class=" col-lg-6 col-sm-12 col-md-12">
                                    <p class="day-time m-0 p-0">Monday</p>
                                    <p class="day-time">9 am to 11:30 am</p>
                                    <p class="price"><a href="#">BUY at Rs. 250</a></p>
                                </div>
                                <div class="col-lg-6 col-sm-12 d-flex justify-content-end">
                                    <p class="followers"><span class="count">10K+ </span>Followers</p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class=" col-lg-6 col-sm-12">
                                    <p class="day-time">Wednesday</p>
                                    <p class="day-time">11:30 am to 1:30 pm</p>
                                    <p class="price"><a href="#">BUY at Rs. 250</a></p>
                                </div>
                                <div class=" col-lg-6  col-sm-12 d-flex justify-content-end">
                                    <a href="#" class="btn btn-success btn-buy">Buy</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container profile-card p-3 mb-5">
        <div class="row g-0">
            <div class="col-lg-3 col-md-4 col-sm-12 d-flex justify-content-center">
                <img src="/assets/images/teacher/T1.png" class="card-img profile-img img-fluid" alt="Profile Image">
            </div>
            <div class="col-lg-9 col-md-8 col-sm-12">
                <div class="card-body pb-0">
                    <div class="row">
                        <div class="col-12 mt-3">
                            <h5 class="card-title name">Meet CA ILLA BHATI SHARMA</h5>
                        </div>
                    </div>
                    <div class="card-header bg-white item mt-4 p-4">
                        <div class="card-text">
                            <div class="row mb-3">
                                <div class=" col-lg-6 col-sm-12 col-md-12">
                                    <p class="day-time m-0 p-0">Monday</p>
                                    <p class="day-time">9 am to 11:30 am</p>
                                    <p class="price"><a href="#">BUY at Rs. 250</a></p>
                                </div>
                                <div class="col-lg-6 col-sm-12 d-flex justify-content-end">
                                    <p class="followers"><span class="count">10K+ </span>Followers</p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class=" col-lg-6 col-sm-12">
                                    <p class="day-time">Wednesday</p>
                                    <p class="day-time">11:30 am to 1:30 pm</p>
                                    <p class="price"><a href="#">BUY at Rs. 250</a></p>
                                </div>
                                <div class=" col-lg-6  col-sm-12 d-flex justify-content-end">
                                    <a href="#" class="btn btn-success btn-buy">Buy</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container profile-card p-3 mb-5">
        <div class="row g-0">
            <div class="col-lg-3 col-md-4 col-sm-12 d-flex justify-content-center">
                <img src="/assets/images/teacher/T1.png" class="card-img profile-img img-fluid" alt="Profile Image">
            </div>
            <div class="col-lg-9 col-md-8 col-sm-12">
                <div class="card-body pb-0">
                    <div class="row">
                        <div class="col-12 mt-3">
                            <h5 class="card-title name">Meet CA ILLA BHATI SHARMA</h5>
                        </div>
                    </div>
                    <div class="card-header bg-white item mt-4 p-4">
                        <div class="card-text">
                            <div class="row mb-3">
                                <div class=" col-lg-6 col-sm-12 col-md-12">
                                    <p class="day-time m-0 p-0">Monday</p>
                                    <p class="day-time">9 am to 11:30 am</p>
                                    <p class="price"><a href="#">BUY at Rs. 250</a></p>
                                </div>
                                <div class="col-lg-6 col-sm-12 d-flex justify-content-end">
                                    <p class="followers"><span class="count">10K+ </span>Followers</p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class=" col-lg-6 col-sm-12">
                                    <p class="day-time">Wednesday</p>
                                    <p class="day-time">11:30 am to 1:30 pm</p>
                                    <p class="price"><a href="#">BUY at Rs. 250</a></p>
                                </div>
                                <div class=" col-lg-6  col-sm-12 d-flex justify-content-end">
                                    <a href="#" class="btn btn-success btn-buy">Buy</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            
</div>
<app-footer></app-footer>