<app-inner-header></app-inner-header>
<div class="container mt-4">
    <ul class="nav nav-tabs justify-content-around" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="live-tab" data-toggle="tab" href="#live" role="tab" aria-controls="live" aria-selected="true" (click)="getLiveSessions()">Live Session</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="upcoming-tab" data-toggle="tab" href="#upcoming" role="tab" aria-controls="upcoming" aria-selected="true" (click)="getUpcomingSessions()">Upcoming Session</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="previous-tab" data-toggle="tab" href="#previous" role="tab" aria-controls="previous" aria-selected="false" (click)="getPreviousSessions()">Previous Session</a>
        </li>
    </ul>
    <div class="tab-content mt-3" id="myTabContent">
        <div class="tab-pane fade show active" id="live" role="tabpanel" aria-labelledby="live">
            <!-- Live Session content -->
            <div class="row" *ngIf="this.liveSessions.length > 0">
                <div *ngFor="let session of liveSessions;" class="swiper-slide col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
                    <div class="card profile-card">
                        <div class="profile-img-placeholder position-relative">
                            <img src="{{mediaURL+session.avator}}" alt="Dianne Russell" class="card-img-top">
                            <div class="ribbon">SEBI</div>
                        </div>
                        <div class="card-body text-center position-relative">
                            <div class="card-title up-se-title">
                                <h5>{{ session.trainer }}</h5>
                                <p>{{ session.experience }}+ years of experience</p>
                            </div>
                            <p class="card-text daily-stock text-center">
                                <span>{{session.course}}</span>
                            </p>
                            <div class="additional-info row">
                                <p class="col-md-12"><i class="fas fa-clock"></i>
                                   Duration : {{session.duration}} min</p>
                            </div>
                            <div class="row">
                                <button href="#" class="btn btn-primary buy-now" (click)="joinStreamNow(session.id)"> Join Session Now </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="this.liveSessions.length <= 0">
                <div class="col-12 text-center">
                    <div class="my-5" >
                        <h3> No Record Found </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="upcoming" role="tabpanel" aria-labelledby="upcoming-tab">
            <!-- Upcoming Session content -->
            <div class="row" *ngIf="nextSessions.length > 0">
                <div *ngFor="let session of nextSessions;" class="swiper-slide col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
                    <div class="card profile-card">
                        <div class="profile-img-placeholder position-relative">
                            <img src="{{mediaURL+session.avator}}" alt="Dianne Russell" class="card-img-top">
                            <div class="ribbon">SEBI</div>
                        </div>
                        <div class="card-body text-center position-relative">
                            <div class="card-title up-se-title">
                                <h5>{{ session.trainer }}</h5>
                                <p>{{ session.experience }}+ years of experience</p>
                            </div>
                            <p class="card-text daily-stock text-center">
                                <span>{{session.course}}</span>
                            </p>
                            <div class="additional-info row">
                                <p class="col-md-12"><i class="fas fa-clock"></i>
                                   Duration : {{session.duration}} min</p>
                            </div>
                            <div class="row">
                                <button href="#" class="btn btn-primary buy-now"> Start Stream At <br>{{session.session_start}} - {{session.session_end}} </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="nextSessions.length <= 0">
                <div class="col-12 text-center">
                    <div class="my-5" >
                        <h3> No Record Found </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="previous" role="tabpanel" aria-labelledby="previous-tab">
            <!-- Previous Session content -->
            <div class="row" *ngIf="previousSessions.length > 0">
                <div *ngFor="let session of previousSessions;" class="swiper-slide col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
                    <div class="card profile-card">
                        <div class="profile-img-placeholder position-relative">
                            <img src="{{mediaURL+session.avator}}" alt="Dianne Russell" class="card-img-top">
                            <div class="ribbon">SEBI</div>
                        </div>
                        <div class="card-body text-center position-relative">
                            <div class="card-title up-se-title">
                                <h5>{{ session.trainer }}</h5>
                                <p>{{ session.experience }}+ years of experience</p>
                            </div>
                            <p class="card-text daily-stock text-center">
                                <span>{{session.course}}</span>
                            </p>
                            <div class="additional-info row">
                                <p class="col-md-12"><i class="fas fa-clock"></i>
                                   Duration : {{session.duration}} min</p>
                            </div>
                            <div class="row">
                                <button href="#" class="btn btn-primary buy-now"> Get Recorded Video </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="previousSessions.length <= 0">
                <div class="col-12 text-center">
                    <div class="my-5" >
                        <h3> No Record Found </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>