<app-inner-header></app-inner-header>
<div class="container">
    <div class="row  mt-4 col-12"> 
        <div class="col-lg-8 col-md-8 col-sm-12 col-12">
            <div class="card">
                <div class="card-header">
                    <h2>Sign In or Create an Account</h2>
                    <h6>User Info and Billing address</h6>
                </div>
                <div class="card-body"  *ngIf="accessToken === null">
                    <div class="alert alert-info" *ngIf="message !== null">
                        <strong>Opps!</strong> {{message}}
                    </div>
                    <ul class="nav nav-tabs" id="myTab" role="tablist" >
                        <li class="nav-item">
                            <a class="nav-link active" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="true">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="false">Login</a>
                        </li>
                    </ul>
                    <div class="tab-content mt-3" id="myTabContent">
                        <div class="tab-pane fade show active" id="register" role="tabpanel" aria-labelledby="register-tab">
                            <form [formGroup]="signupForm" (ngSubmit)="getOtp()" >
                                <div *ngIf="!otpSent">
                                    <div class="row">
                                        <mat-form-field class="form-group col-md-12 col-lg-12 col-xl-6 mt-3">
                                            <mat-label>First name</mat-label>
                                            <input matInput formControlName="firstname" type="text" id="firstname" placeholder="Enter Your First Name">
                                            <div *ngIf="signupForm.get('firstname').invalid && signupForm.get('firstname').touched">
                                                <div  class="error" *ngIf="signupForm.get('firstname').errors?.required">firstname is required.</div>
                                            </div>
                                        </mat-form-field>
                                        <mat-form-field class="form-group col-md-12 col-lg-12 col-xl-6 mt-3">
                                            <mat-label>Last name</mat-label>
                                            <input matInput formControlName="lastname" type="text" id="lastname" placeholder="Enter Your Last Name">
                                            <div *ngIf="signupForm.get('lastname').invalid && signupForm.get('lastname').touched">
                                                <div  class="error" *ngIf="signupForm.get('lastname').errors?.required">Lastname is required.</div>
                                            </div>
                                        </mat-form-field>
                                    </div>
                                    <div class="row">
                                        <mat-form-field class="form-group col-md-12 col-lg-12 col-xl-4 mt-3">
                                            <mat-label>Email Address</mat-label>
                                            <input matInput formControlName="email" type="text" id="email" placeholder="Enter Your Email Address">
                                            <div *ngIf="signupForm.get('email').invalid && signupForm.get('email').touched">
                                                <div  class="error" *ngIf="signupForm.get('email').errors?.required">Email is required.</div>
                                            </div>
                                        </mat-form-field>
                                        <mat-form-field class="form-group col-md-12 col-lg-12 col-xl-4 mt-3">
                                            <mat-label>Mobile Number</mat-label>
                                            <input matInput formControlName="mobile" type="number" id="mobile" placeholder="Enter Your Mobile Number">
                                            <div *ngIf="signupForm.get('mobile').invalid && signupForm.get('mobile').touched">
                                                <div  class="error" *ngIf="signupForm.get('mobile').errors?.required">Mobile is required.</div>
                                            </div>
                                        </mat-form-field>
                                        <mat-form-field class="font-label font-poppins form-group col-md-12 col-lg-12 col-xl-4 mt-3">
                                            <mat-label>PAN Number</mat-label>
                                            <input matInput formControlName="pan" id="pan" placeholder="Enter PAN Number">
                                            <div *ngIf="signupForm.get('pan').invalid && signupForm.get('pan').touched">
                                                <div  class="error" *ngIf="signupForm.get('pan').errors?.required">Pan is required.</div>
                                            </div>
                                        </mat-form-field>
                                        <mat-form-field class="form-group col-12 my-2">
                                            <mat-label>Billing Address</mat-label>
                                            <textarea matInput formControlName="address" id="address" placeholder="Enter Your Billing Address" ></textarea>
                                        </mat-form-field>
                                    </div>
                                    <div class="row">
                                        <mat-form-field  class="form-group col-md-12 col-lg-12 col-xl-6">
                                            <mat-label>Select States</mat-label>
                                            <mat-select formControlName="state">
                                                <mat-option *ngFor="let state of states;" value="{{ state.code }}">
                                                   {{ state.name }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field class="form-group col-md-12 col-lg-12 col-xl-6">
                                            <mat-label>Pincode</mat-label>
                                            <input matInput formControlName="pincode" type="text" id="pincode" placeholder="Enter Enter Pincode">
                                            <div  class="error" *ngIf="signupForm.get('pincode').invalid && signupForm.get('pincode').touched">
                                                Enter Pincode.
                                            </div>
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group col-md-12 col-lg-12 mt-3 col-xl-12 d-flex">
                                        <input type="checkbox" class="form-check-input" id="terms" [checked]="true">
                                        <label class="form-check-label ms-2 font-poppins" for="terms">I agree to all the <a href="#">Terms</a> and <a href="#">Privacy policy</a></label>
                                    </div>
                                    <div class="row"> 
                                        <div class="col-md-12 mt-3">    
                                            <button type="submit" class="btn btn-primary  w-100 btn-block" >Get OTP</button>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="otpSent">
                                    <div class="row">
                                        <div class="form-group col-md-12 text-center">
                                            <label for="otp" class="font-label font-poppins mb-2">One time password</label>
                                            <input formControlName="otp"  type="number" class="form-control" id="otp" placeholder="Enter Your One time password">
                                        </div>
                                    </div>
                                    <div class="row"> 
                                        <div class="col-md-12 mt-3">    
                                            <button type="button" class="btn btn-primary  w-100 btn-block" (click)="this.onSubmit()">Submit OTP</button>
                                        </div>
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                        <div class="tab-pane fade" id="login" role="tabpanel" aria-labelledby="login-tab">
                            <form [formGroup]="loginForm" (ngSubmit)="getMobileOtp()">
                                <div *ngIf="!otpSent">
                                    <mat-form-field class="form-group col-md-12 col-lg-12 col-xl-12 mt-3">
                                        <mat-label>Mobile Number</mat-label>
                                        <input matInput formControlName="mobile" type="number" id="mobile" placeholder="Enter Your Mobile Number">
                                        <div *ngIf="loginForm.get('mobile').invalid && loginForm.get('mobile').touched">
                                            <div  class="error" *ngIf="loginForm.get('mobile').errors?.required">Mobile is required.</div>
                                        </div>
                                    </mat-form-field>
                                    <div class="form-group col-md-12 col-lg-12 mt-5 col-xl-12">
                                        <button type="submit" class="btn btn-primary start-now btn-block w-100 p-2" [disabled]="loginForm.invalid">
                                            Get OTP
                                        </button>
                                    </div>
                                </div>
                                <div *ngIf="otpSent">
                                    <div class="row">
                                        <mat-form-field class="form-group col-md-12 col-lg-12 col-xl-12 mt-3">
                                            <mat-label>Enter OTP</mat-label>
                                            <input matInput formControlName="otp" type="number" id="otp" placeholder="Enter Your OTP">
                                            <div *ngIf="loginForm.get('otp').invalid && loginForm.get('otp').touched">
                                                <div  class="error" *ngIf="loginForm.get('otp').errors?.required">Otp is required.</div>
                                            </div>
                                        </mat-form-field>
                                    </div>
                                    <div class="row"> 
                                        <div class="col-md-12 mt-3">    
                                            <button type="button" class="btn btn-primary  w-100 btn-block" (click)="this.login()">Submit OTP</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-body"  *ngIf="accessToken !== null">
                    <div class="row" >
                        <div class="col-12">First Name : {{user.name}}</div>
                        <div class="col-12">Email Address: {{user.email}}</div>
                        <div class="col-12">Mobile Number: {{user.mobile}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="card">
                <div class="card-header">
                    <h2> Order Summary</h2>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li *ngFor="let item of orderCreate.cartItem;" class="list-group-item d-flex justify-content-between align-items-center">
                            {{item.expertise}} Live Session
                            <span> 1</span>
                        </li>
                        
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Total Session Price
                            <span>₹{{ cart.cart.sessionPrice }}/-</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Total Platform Fee
                            <span>₹{{ cart.cart.plaformFee }}/-</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" *ngIf="cart.cart.coupon !== null">
                            Applied Coupon 
                            <div>
                                <span>{{cart.cart.coupon.code}}</span><br>
                                <span style="font-size: 14px;color: red;font-weight: 600;">Discount - ₹{{cart.cart.coupon.discount}}/-</span>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Gst 18%
                            <span>₹{{cart.cart.taxAmount}}/-</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <strong>TOTAL</strong>
                            <strong>₹{{cart.cart.payableAmount}}/-</strong>
                        </li>
                    </ul>
                   
                    <button type="button" class="btn btn-primary btn-block mt-3" *ngIf="accessToken === null" disabled="true">
                        Confirm and Pay
                    </button>
                    <button type="button" class="btn btn-primary btn-block mt-3"  *ngIf="accessToken !== null" (click)="createOrder()">
                        Confirm and Pay
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>